#Aboutbody{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.aboutSection{
    /* background: url(../assets/AboutUs.jpg); */
    background-color: white;
    overflow: hidden;
    padding-top: 149px;
    padding-bottom: 149px;
    background-size: cover;
    width: 100%;
}

.aboutInnerContainer{
    width: 55%;
    /* float: right; */
    background-color: rgb(230, 228, 228);
    padding: 85px;
    margin: auto;
    width: 80%;
}

.aboutInnerContainer h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.AboutText{
    font-size: 13px;
    color:  grey;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}


@media  screen and (max-width:1200px){
    .aboutInnerContainer{
        padding: 80px;
    }
}

@media  screen and (max-width:1000px){
    .aboutSection{
        background-size: 100%;
        padding: 100px 40px;
    }

    .aboutInnerContainer{
        width: 100%;
    }
}


@media  screen and (max-width:600px){
    .aboutSection{
        padding:0;
    }

    .aboutInnerContainer{
        padding: 60px;
    }
}
