#Blogsbody{
    margin: 0;
    padding: 0;
    font-family: poppins;
    background-color: rgb(230, 228, 228);
}

#blogsection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    padding-top: 130px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}



.blogheading span{
    color: red;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.blogheading h3{
    font-size: 2.4rem;
    color: black;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 2.4rem;
}

.blogcontainer{
    display:  grid;
    grid-template-rows: 1fr;
    max-width: 1050px;
    width:  90%;
    margin-top: 50px;
}

.blogbox{
    max-width:100%;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    transition: all ease 0.3s;
}

.blogbox:hover{
    background-color: white;
    box-shadow: 16px 20px 50px rgba(0,0,0,0.12);
}

.blogImg{
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    display: flex;
}

.blogImg img{
   /* max-height: 185px; */
   /* width: 100%; */
   height: 100%;
   /* object-fit:cover; */
   object-position: center;
}

.blogtext{
    padding: 30px 10px 20px 10px;
    display: flex;
    flex-direction: column;
}



.blogtext span{
    color: red;
    font-size: 0.9rem;
    font-weight: 400;
}

.blogtext .blogTitle{
    font-size: 1.3rem;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.blogtext .blogTitle:hover{
    color: aqua;
    transition: all ease 0.3s;
}

.blogtext p{
    color: grey;
    font-size: 1.2rem;
}

.blogbox a{
    color: blue;
}

@media (max-width:920px){
    .blogcontainer{
        grid-template-rows: 1fr;
        grid-gap: 10px 0px;
    }

    .blogImg img{
        /* min-height: 210px; */
        width: 100%;
        height: 90%;
        /* object-fit:cover; */
        object-position: center;
     }
}

@media (max-width: 691px){
    .blogcontainer{
        grid-template-columns: 1fr;
    }
    .blogheading h3{
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
}

@media (max-width: 640px){
    .blogcontainer{
        grid-template-columns: 1fr;
    }
    .blogheading h3{
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
    #blogsection{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px;
        padding-top: 130px;
        border-bottom: 1px solid rgba(0,0,0,0.05);
    }

    .blogbox{
        max-width:100%;
        width: 100%;
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        transition: all ease 0.3s;
    }

    #blogsection > div.blogcontainer > div:nth-child(2)  {
        max-width:100%;
        width: 100%;
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
        transition: all ease 0.3s;
    }
}

.learnMore {
    border: 1px solid blue;
    padding: 3.5px;
}

.arrow {
    display: inline;
}