.Servicebody{
    font-family: 'Poppins';
    width: 100%;
    min-height: 87vh;
    display: grid;
    place-items:  center;
    margin-top: 84px;
}

.Servicerow {
    width: 80%;
    /* max-width: 1170px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;
}

.Servicerow .Serviceimg{
    overflow: hidden;
}

.Servicerow .Serviceimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.Servicerow .Serviceimg:hover img{
    transform: scale(1.25);
} 

.Servicerow .Servicecontentwrapper {
   display: flex;
   align-items: center;
}

.Servicerow .Servicecontentwrapper .Servicecontent{
    padding-left: 20px;
}

.Servicerow .Servicecontentwrapper h2{
    font-size: 40px;
    font-weight: 700;
    color: grey;
    padding-bottom: 20px;
}

.Servicerow .Servicecontentwrapper .Servicecontent p{
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 25px;
}

.Servicerow .Servicecontentwrapper .Servicecontent h3{
  padding-bottom: 5px;
}

.Servicerow .Servicecontentwrapper .Servicecontent ul{
    place-items:  center;
    padding-left: 10px;
}

.Servicerow .Servicecontentwrapper .Servicecontent li{
    place-items:  center;
    padding-bottom: 5px;
}

@media (max-width: 991px) {
    .Servicerow .Servicecontentwrapper .Servicecontent {
        padding-left: 0;
    }
}

@media (max-width: 991px) {
    .Servicerow {
        width: 95%;
        grid-template-columns: 1fr;
    }

    .Servicerow .Servicecontentwrapper .Servicecontent ul{
        margin: 2px;
    }

    .Palletbody{
       margin-bottom: 25px;
    }
}


/* .Servicerow {
    animation: mymove 3s;
    position: relative;
}

@keyframes mymove {
    from {left: -200px;}
    to {left: 100px;}
  } */
