#Supportbody{
    font-family: 'Outfit';
    background-color: rgb(230, 228, 228);
}

.SupportContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.SupportLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.SupportLeftTite h2{
    font-weight: 600;
    color:red;
    font-size: 40px;
    margin-bottom: 5px;
    margin-top: 97px;
}

.SupportLeftTite hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: red;
    border-radius: 10px;
    margin-bottom: 20px;
}

.SupportInputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.SupportInputs:focus{
    border: 2px solid red;
}

.SupportInput::placeholder{
    color: lightgray;
}

.SupportLeft textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.SupportLeft button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: red;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background-color: black;
    cursor: pointer;
}

.SupportRight img {
    height: 237px;
    width: 330px;
}

@media (max-width:800px){
    .SupportInputs{
        width: 80vw;
    }

    .SupportRight{
        display: none;
    }
}