
#menu {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #243A48;
  }
  #menu ul li {
    padding: 10px;
  }
  #menu ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
  }
  .container ul li a:hover {
    background-color: #ddd;
  }
  .main-content {
    margin-left: 0px; 
    padding: 20px;
  } 
  